<!DOCTYPE html>
<style>

</style>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="icon" href="../assets/logo.png">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "../assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <script src="https://non-fungi-ble.io/script/fungi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>
    <script src="https://ethereum.factoria.app/f0/token_abi.js"></script>
    <script src="https://unpkg.com/f0js/dist/f0.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PB0WKB4SH"></script>
    <script>
      // C 0x97648BB89f2C5335fDeCE9edeEBB8d88FA3D0A38 | A 0x8Fe45D16694C0C780f4c3aAa6fCa2DDB6E252B25
      // <-- [Google Analytics]
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6PB0WKB4SH');
      // -- >

      document.addEventListener("DOMContentLoaded", async () => {

        await connect_init();

      })

      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min) + min);
      }

      // FreshFrogsController | NFT Staking Smart Contract | 0xCB1ee125CFf4051a10a55a09B10613876C4Ef199
      const stakingContract = '0xCB1ee125CFf4051a10a55a09B10613876C4Ef199'
      const andrew = '0x8Fe45D16694C0C780f4c3aAa6fCa2DDB6E252B25'
      const carter = '0x97648BB89f2C5335fDeCE9edeEBB8d88FA3D0A38'
      const m = '0xc447d15905d59f8F10E2921b3Ab91C25859E760c'
      async function connect_init() {

        //await calculate_rarity_ranking()
        await connect();

        //let random_token = getRandomInt(1, (next_id - 1))
        //let random_holder = await collection.methods.ownerOf(random_token).call();

        await fetch_mushrooms();

      }

    </script>
    
  </head>
  <body class="bodyb">
    <div class="top">{{ content }}</div>
    <div class="wrapper">
      <header id="header">
        <div class="downloads pre">
          <ul class="downloads2">
            <li><a id="button_left" class="pointer"><strong>Mint</strong>0.001Ξ</a></li>
            <li><a id="button_middle" class="pointer"><strong>Mushroom</strong>1</a></li>
            <li><a id="button_right" class="pointer"><strong><b id="quantity-">- </b>1<b id="quantity+"> +</b></strong>Quantity</a></li>
          </ul>
          <div id="bigContainer" class="bigContainer"><img src="../build/images/1.png" class="mintImage"></div>
        </div>
      </header>
      <section id="section" style="box-shadow: 1px 1px 1px 1px rgba(122, 122, 122, 0.20);">
        <div id="pre-top" class="mintingTextWhite1">
          <img src="../blacknwhite.png" class="logoImage" style="padding: 0px; background: transparent;" />
          <h1 style="color: #1a202c; margin-top: 0px; font-weight: 400;">non-fungi-ble.io</h1>
          <p style="padding: 10%; padding-top: 0%; padding-bottom: 0%; line-height: 1; font-size: small;"><strong>Non Fungi ble's (FNGI)</strong> is a collection of 8,888 randomly generated pixel art mushrooms on the Ethereum blockchain.<br><br><a href="https://etherscan.io/address/0x4afd4635417132892a4ea9cae128d03e803317fd" target="_blank">0x4aFd4635417132892A4eA9CAE128d03e803317fD</a></p>
          <div class="terminalBase">
            <div class="terminalBottom"><supply class="displayUnit">Items</supply><br><supply id="supply">8,888</supply></div>
            <div class="terminalBottom"><limit class="displayUnit">Network</limit><br>Ethereum</div>
            <div class="terminalBottom"><price class="displayUnit">Royalty</price><br>5%</div>
          </div>
        </div>
        <div id="pre" class="mintingTextWhite2">
          <a style="margin: 0px !important; width: fit-content; height: auto; display: initial;" href="https://freshfrogs.io/the-pond">
            <button onclick="connect_init()" class="frog_button">
              <strong style="color: inherit !important;">Connect Wallet</strong><br><text style="color: white !important;">Ethereum Blockchain</text>
            </button>
          </a>
          <br>
          <hr style="background: #6d7c91;">
          <div class="console_pre" id="console-pre" style="background: transparent;"></div>
        </div>
      </section>
      <section id="note_tab" style="background: transparent; border: none !important;"></section>
      <section id="thePad" style="background: transparent; border: none !important;">
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
